footer{
    width: 1440px;
    background: #FFF4E7;
    border-radius: 8px;
    margin: auto;
    padding-block: 30px;
}
footer p{
    text-align: center;
}

@media screen and (max-width: 390px) {
    main{
        width: 380px;
        margin-inline: 10px;
    }
    footer{
        width: auto;
        border-radius: 0;
    }
}